body
{
    display:flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: hidden;
}

#top_bar
{
    box-shadow: 
    0 20px 30px -15px rgba(0,0,0,0.5),
    0 40px 40px -20px rgba(0,0,0,0.4),
    0 70px 50px -30px rgba(0,0,0,0.3),
    0 40px 60px -5px rgba(0,41,132,0.1);

    display:flex;
    flex-direction: row;
    padding: 20px;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -420px;
    z-index: 100;

    background-color: white;
}

#home_page
{
    width: 800px;
    height: 800px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    position: absolute;
    transition: .5s;
    right: 0px;
    margin-bottom: 100px;
}

#resume_page
{
    width: 800px;
    height: 800px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    transition: .5s;
    right: -900px;
    position: absolute;
    visibility: hidden;
    margin-bottom: 100px;
}

#contact_page
{
    width: 800px;
    height: 800px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    visibility: hidden;
    transition: .5s;
    position: absolute;
    right: -900px;
    margin-bottom: 100px;
}

#projects_page
{
    width: 800px;
    height: 800px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    transition: .5s;
    right: -900px;
    position: absolute;
    visibility: hidden;

    margin-bottom: 100px;
}

#image-container
{
    width: 300px;
    margin: 30px;
    float: left;
    z-index: 1;
}

#text-container
{
    margin: 30px;
}

#name_logo
{
    padding-right: 0px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 40px;

    flex: 1;
}

.nav_button
{
    background: transparent;
    color: black;
    /*border: 2px solid black;*/
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px 25px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;

    position: relative;
    overflow: hidden;

    border-radius: 10px;

    /*box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;*/
}
  
.nav_button:hover{
    color: white;
}

.nav_button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #002984;
}

.nav_button:hover:after,
.nav_button:active:after {
    height: 100%;
}

.nav_button:focus {outline:0;}

iframe
{
    width: 100%;
    height: 700px;
    border: none;
}